.chat-bubble {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}

.chat-bubble .mine {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: flex-end;
  margin-right: 16px;
}

.chat-bubble .theirs {
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 16px;
}

.chat-bubble .mine,
.chat-bubble .theirs {
  max-width: 80%;
}

.chat-bubble .content {
  padding: 10px 13px;
  font-size: 15px;
  border-radius: 14px;
  font-weight: 500;
  color: white;
}

.chat-bubble .theirs .content {
  background-image: var(--gray-gradient);
}

.chat-bubble .mine .content {
  background-image: var(--green-gradient);
}

.chat-bubble .mine .content {
  border-bottom-right-radius: 2px;
}

.chat-bubble .theirs .content {
  border-bottom-left-radius: 2px;
}

.chat-bubble .sent-at {
  font-size: 12px;
  color: var(--gray-text-color);
  margin-top: 2px;
  padding: 0 3px;
}
