.challenge-page {
  display: flex;
  justify-content: center;
}

.challenge-page .card {
  width: 100%;
  max-width: 720px;
  background-color: var(--darker-bg);
  margin: 15px 0 0 0;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  padding: 0;
  text-align: left;

  display: flex;
  flex-direction: column;
  height: 720px;
  max-height: calc(100vh - 95px); 
  overflow: hidden;
}

/* ---------- Opponent info ---------- */
.challenge-page .header {
  border-bottom: 1px solid var(--light-gray);
  position: relative;
  padding: 20px;
  min-width: 0;
}

.challenge-page .opponent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  max-width: calc(100% - 110px);
}

.challenge-page .name {
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  max-width: 100%;
}

.challenge-page .rating {
  font-size: 20px;
}

.challenge-page .rating-label {
  color: var(--gray-text-color);
  font-weight: 600;
}

.challenge-page .rating-value {
  font-weight: 700;
  font-family: monospace;
  font-size: 16px;
  padding: 2px 6px;
}

/* ---------- Challenge info ---------- */
.challenge-page .status {
  position: absolute;
  top: 20px;
  right: 20px;

  font-weight: 600;
  font-size: 20px;
  padding: 6px 16px;
}

.challenge-page .meta {
    margin-top: 10px;
    display: flex;
    gap: 22px;
}

.challenge-page .meta-item {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.challenge-page .meta-label {
    font-size: 14px;
    color: var(--gray-text-color);
}

.challenge-page .meta-value {
    font-size: 16px;
    font-weight: 500;
}

/* ---------- Chat and textarea ---------- */
.challenge-page .chat{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 7px 0;
  overflow-y: auto;
}