.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-page .card {
  width: 100%;
  max-width: 550px;
  background-color: var(--darker-bg);
  margin: 15px 0 0 0;
  border-radius: 8px;
  padding: 0;
  border: 1px solid var(--light-gray);
}

.account-page h1 {
  margin: 0;
  font-weight: 700;
  line-height: 1;
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.account-page .field {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 20px;
  border-top: 1px solid var(--light-gray);
}

.account-page .label {
  color: var(--gray-text-color);
  font-weight: 500;
}

.account-page .value{
    font-weight: 500;
}

.account-page button {
  width: min(550px, 100%);
  padding: 10px;
  font: 20px;
  margin-top: 20px;
}