.nav {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
}

.nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.site-title {
  display: flex;
  align-items: center;
}