/* @import "tailwindcss"; */

/* =========================
   Theme variables
   ========================= */

:root {
  --background: #312e2b;

  --foreground: white;

  --primary-gradient: linear-gradient(
    rgb(129, 182, 76) 0%,
    rgb(93, 153, 72) 100%
  );

  --radius: 10px;
}

/* =========================
   Base styles
   ========================= */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
}

/* =========================
   Reusable element styles
   ========================= */

button {
  cursor: pointer;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input, select, textarea {
  font: inherit;
  border: none;
}

::placeholder {
  color: #9ca3af;
}

/* =========================
   Reusable Class styles
   ========================= */
.card {
  padding: 32px;
  width: 400px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
    background-color: rgba(255, 255, 255, 0.08);
    width: 100%;
    padding: 5px;
    color: white;
}

.input-group select {
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    width: 100%;
    padding: 5px;
}

.input-group select option {
    background-color: rgba(0, 0, 0, 0.7);
}