/* @import "tailwindcss"; */
/* =========================
   Theme variables
   ========================= */

:root {
  --background: #312e2b;
  --darker-bg: rgba(0, 0, 0, 0.2);
  --foreground: white;

  --green-gradient: linear-gradient(
    rgb(129, 182, 76) 0%,
    rgb(93, 153, 72) 100%
  );
  --green-gradient-highlight:
    linear-gradient(
      color(srgb 0.698039 0.878431 0.407843 / 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    var(--green-gradient);

  --gray-gradient: linear-gradient(
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0.07) 100%
  );
  --gray-gradient-highlight:
    linear-gradient(
      rgba(255, 255, 255, 0.16) 0%,
      rgba(255, 255, 255, 0.07) 100%
    ),
    linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);

  --card-shadow:
    rgba(255, 255, 255, 0.08) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.14) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

  --popup-shadow:
    rgba(0, 0, 0, 0.65) 0px 8px 24px 0px,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  --green-btn-shadow:
    color(srgb 0.698039 0.878431 0.407843 / 0.4) 0px 1px 0px 0px inset,
    rgb(69, 117, 60) 0px -1px 0px 0px inset,
    color(srgb 0.698039 0.878431 0.407843 / 0.5) 0px 2px 4px 0px inset,
    color(srgb 0.270588 0.458824 0.235294 / 0.5) 0px -2px 4px 0px inset,
    rgba(0, 0, 0, 0.14) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

  --gray-btn-shadow:
    rgba(255, 255, 255, 0.08) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.14) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

  --text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px;

  --text-color: rgba(255, 255, 255, 0.9);
  --gray-text-color: rgba(255, 255, 255, 0.5);
  --gray-line: rgba(100, 100, 100, 0.8);

  --gold: #e3b341;
  --silver: #b9c0cf;
  --bronze: #c98a4b;
  --dark-gray: rgb(38, 36, 33);
  --light-gray: rgba(255, 255, 255, 0.2);
  --soft-white: rgba(255, 255, 255, 0.72);
  --green-tint: rgba(129, 182, 76, 0.15);

  --radius: 10px;
}

/* =========================
   Base styles
   ========================= */

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
}

/* =========================
   Reusable element styles
   ========================= */

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  background: none;
  font: inherit;
  border: none;
  color: white;
}

/* =========================
   Reusable Class styles
   ========================= */
.card {
  padding: 32px;
  width: 400px;
  text-align: center;
}

/* ---------- Input section ---------- */

.gb-input-group ::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.gb-input-group {
  margin-bottom: 20px;
}

.gb-input-group input {
  background-color: rgba(255, 255, 255, 0.08);
  width: 100%;
  padding: 5px;
}

.gb-input-group select {
  background-color: rgba(255, 255, 255, 0.08);
  width: 100%;
  padding: 5px;
}

.gb-input-group select option {
  background-color: rgba(0, 0, 0, 0.7);
}

.gb-input-group textarea {
  background-color: rgba(255, 255, 255, 0.08);
  border-bottom-color: rgba(0, 0, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  color: var(--soft-white);
  resize: none;
  padding: 8px;
}

/* ---------- Button section ---------- */

.gb-green-btn,
.gb-gray-btn {
  border-radius: var(--radius);
  text-shadow: var(--text-shadow);
  font-weight: 600;
}

.gb-green-btn {
  background-image: var(--green-gradient);
  box-shadow: var(--green-btn-shadow);
}

.gb-green-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.gb-green-btn:hover:not(:disabled) {
  background-image: var(--green-gradient-highlight);
}

.gb-gray-btn {
  background-image: var(--gray-gradient);
  box-shadow: var(--gray-btn-shadow);
}

.gb-gray-btn:hover {
  background-image: var(--gray-gradient-highlight);
}

.gb-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
