.challenge-row {
  border-bottom: 1px solid var(--gray-line);
  padding: 4px 0;
}

.challenge-row .link {
  display: block;
  padding: 12px 12px;
  border-radius: 8px;
  transition: background-color 0.15s ease;
}

.challenge-row .link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* ---------- Line 1 ---------- */
.challenge-row .line-1 {
    display: flex;
    justify-content: space-between;
}

.challenge-row .name {
  font-weight: 600;
}

.challenge-row .date {
    color: green
}

/* ---------- Line 2 ---------- */
.challenge-row .line-2 {
    display: flex;
    justify-content: space-between;
}

.challenge-row .last-message {
    color: blue;
}
.challenge-row .status {
    color: red;
}