.facility-page {
  display: flex;
  justify-content: center;
}

.facility-page .card {
  width: 100%;
  max-width: 960px;
}

/* ---------- Header section ---------- */

.facility-page .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 20px;
}

.facility-page h1 {
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

.facility-page .header-text {
  text-align: left;
  width: 70%;
}

.facility-page .address {
  color: var(--gray-text-color);
  padding: 0px;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}

.facility-page .header button {
  height: 36px;
  width: 80px;
}

/* ---------- Leaderboard title section ---------- */
.facility-page .leaderboard-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2px;
}

.facility-page .leaderboard-title h2 {
  margin: 0;
  font-size: 24px;
}

.facility-page .leaderboard-title span {
  font-size: 16px;
  color: var(--gray-text-color);
}

/* ---------- Leaderboard head section ---------- */
.facility-page .leaderboard {
  margin-top: 10px;
  border-radius: var(--radius);
  background-color: var(--darker-bg);
  overflow: hidden;
  border: 1px solid var(--light-gray);
}

.facility-page .leaderboard-head {
  display: grid;
  grid-template-columns: 15% 40% 20% 25%;
  align-items: center;
  height: 35px;
  color: var(--gray-text-color);
  font-size: 18px;
  background-image: var(--gray-gradient);
}

/* ---------- Leaderboard rows  ---------- */
.facility-page .row {
  display: grid;
  grid-template-columns: 15% 40% 20% 25%;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  position: relative;
}

.facility-page .row:last-child {
  border-bottom: none;
}

.facility-page .row.me {
    background: var(--green-tint);
  }

/* ---------- Row values  ---------- */


.facility-page .blocked-challange {
  color: var(--gray-text-color);
}

.facility-page .rank {
  color: var(--gray-text-color);
  font-family: monospace;
  font-weight: 1000;
  font-size: 24px;
}

.facility-page .rating {
  font-family: monospace;
  font-weight: 600;
}

.facility-page .name {
  font-weight: 500;
}

.facility-page .challenge-btn {
  height: 28px;
  width: 90px;
  font-size: 16px;
}

/* ---------- First, second and third place  ---------- */

  .facility-page .row::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
  }
  .facility-page .row[data-rank="1"]::before { background: var(--gold); }
  .facility-page .row[data-rank="2"]::before { background: var(--silver); }
  .facility-page .row[data-rank="3"]::before { background: var(--bronze); }

  .facility-page .row[data-rank="1"] .rank { color: var(--gold); }
  .facility-page .row[data-rank="2"] .rank { color: var(--silver); }
  .facility-page .row[data-rank="3"] .rank { color: var(--bronze); }