.facility-page {
  display: flex;
  justify-content: center;
}

.facility-page .card {
  width: 100%;
  max-width: 720px; /*960px*/
}

/* ---------- Header section ---------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-text-color);
  margin-bottom: 20px;
}

.facility-page h1 {
  margin: 0;
  font-weight: 800;
  line-height: 1;
}

.facility-page .header-text {
  text-align: left;
  width: 70%;
}

.facility-page .address {
  color: var(--light-text-color);
  padding: 0px;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
}

.facility-page .header button {
  height: 36px;
  width: 80px;
  font-weight: 600;
}

/* ---------- Leaderboard title section ---------- */
.facility-page .leaderboard-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.facility-page .leaderboard-title h2 {
  margin: 0;
  font-size: 24px;
}

.facility-page .leaderboard-title span {
  font-size: 16px;
  color: var(--light-text-color);
}

/* ---------- Leaderboard head section ---------- */
.facility-page .leaderboard {
  margin-top: 10px;
  border-radius: var(--radius);
  background-color: var(--darker-bg);
  overflow: hidden;
}

.facility-page .leaderboard-head {
  display: grid;
  grid-template-columns: 15% 35% 25% 25%;
  color: var(--light-text-color);
  font-size: 18px;
  background-image: var(--gray-gradient);
}

/* ---------- Leaderboard body section ---------- */
.facility-page .row {
  display: grid;
  grid-template-columns: 15% 35% 25% 25%;
}
